<link rel="stylesheet" href="{{base_url()}}/../assets/style-about.css ">
</head>
<body>

<section class="banner-area d-flex">

  <ul class="nav justify-content-start ">
    <li class="nav-item">
      <a class="nav-link" href="{{ path_for('home') }}">Retour</a>
    </li>
  </ul>
