.wrap
{    
    background-image: url(./img/img-hero.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.banner-area
{
    background-color: #fff;
    margin: 5%;
    text-align: center;
}


.banner-area .p-2.description
{
    margin: 5%
}

.banner-area .p-2 .pj-img
{
    padding: 5% 0
}

.pj-open
{
    text-align: center;
    margin: 5% 0
}
.pj-open p
{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 1em;
    color: #FF502F; 
}

.pj-open .pj-icon
{
    width: 10%;
    margin: 0 50%;
    transform: translateX(-50%)
}
