
/* 
Banner
*/

.banner-area  
{    
    height: 100vh;
    background-image: url(./img/img-hero.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.banner-content h1 
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
    padding-top: 10%
}


.banner-content h3 
{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
}

/*
Responsive banner 
*/

@media (max-width: 767px) 
{
    .banner-content h1 
    {
        padding-top: 30vh;
    }
}


@media (max-width: 320px) 
{   
    .banner-content h1 
    {
        font-size: 2em
    }
}


/*
Projets
*/
.container-fluid
{
    height: 60vh;     
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25); 
    padding: 0 3%;  
    overflow: hidden;
}

.container-fluid:nth-child(odd)
{
    flex-direction: row-reverse !important;
}


.container-fluid:nth-child(odd) .p-2.left h2
{
    color: #5BD1D7;
}


.container-fluid:nth-child(odd) .p-2.left .pj-open p
{

    color: #5BD1D7;
}


.container-fluid:nth-child(odd)  .p-2.left .pj-open .pj-icon svg .cls-1
{

    stroke: #5BD1D7;
}

.container-fluid .p-2.left h2
{
    color: #FF502F;
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5% 0
}

.container-fluid .p-2.left p
{
    font-family: Merriweather;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.035em;
    line-height: 150%;
}

.container-fluid .p-2.left .pj-open
{
    text-align: center;
}
.container-fluid .p-2.left .pj-open p
{
    color: #FF502F;
    font-family: Montserrat;
    font-size: 1em;
    text-transform: uppercase;
}

.container-fluid .p-2.left .pj-open .pj-icon
{
    width: 15%;
    margin: 0 50%;
    transform: translateX(-50%)
}

/*
Responsive list
*/


@media (max-width: 750px) 
{   
    .container-fluid
    {
        height: 40vh;
    }
    .container-fluid .p-2 img
    {
        width: 50vw;
    }
    .container-fluid .p-2.left .pj-open .pj-icon
    {
        display: none;
    }
}

@media (max-width: 700px) 
{   
    .container-fluid .p-2 img
    {
        width: 30vw;
    }
    .container-fluid .p-2.left h2
    {
        padding: 0
    }
}

@media (max-width: 380px) 
{   
    .container-fluid .p-2.left p
    {
        font-size: 0.7em;
        margin: 0
    }
}