html, body
{
    height: 100%;
    position: relative
}

/*
    Navbar
*/

.nav
{
    padding: 2% 5%;
}

.nav .nav-item .nav-link 
{
    text-decoration : none;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

strong
{
    font-weight: 600;
}
